<!DOCTYPE html> [cite: 226]
<html lang="en"> [cite: 227]
<head> [cite: 228]
    <meta charset="UTF-8"> [cite: 230]
    <title>Tambah Buku</title> [cite: 233]
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> [cite: 234]
</head> [cite: 235]
<body> [cite: 236]
    <div class="container"> [cite: 237]
        <h1 class="title">Tambah Buku</h1> [cite: 244]
        <form method="post" class="form"> [cite: 246]
            <label>Judul:</label> [cite: 238]
            <input type="text" name="judul" required> [cite: 239]
            <label>Penulis:</label> [cite: 240]
            <input type="text" name="penulis" required> [cite: 241]
            <div class="form-actions"> [cite: 242]
                <button type="submit" class="btn primary">Simpan</button> [cite: 260]
                <a href="{{ url_for('index') }}"><button type="button" class="btn">Kembali</button></a> [cite: 261]
            </div> [cite: 255]
        </form> [cite: 257]
    </div> [cite: 258]
</body> [cite: 259]
</html> [cite: 262]