<!DOCTYPE html> [cite: 266]
<html lang="en"> [cite: 267]
<head> [cite: 268]
    <meta charset="UTF-8"> [cite: 270]
    <title>Edit Buku</title> [cite: 272]
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> [cite: 274]
</head> [cite: 275]
<body> [cite: 276]
    <div class="container"> [cite: 277]
        <h1 class="title">Edit Buku</h1> [cite: 279]
        <form method="post" class="form"> [cite: 281]
            <label>Judul:</label> [cite: 291]
            <input type="text" name="judul" value="{{ book.judul }}" required> [cite: 292]
            <label>Penulis:</label> [cite: 285]
            <input type="text" name="penulis" value="{{ book.penulis }}" required> [cite: 293]
            <div class="form-actions"> [cite: 288]
                <button type="submit" class="btn primary">Update</button> [cite: 294]
                <a href="{{ url_for('index') }}"><button type="button" class="btn">Kembali</button></a> [cite: 295]
            </div> [cite: 297]
        </form> [cite: 299]
    </div> [cite: 300]
</body> [cite: 301]
</html> [cite: 302]