<!DOCTYPE html> [cite: 178]
<html lang="en"> [cite: 179]
<head> [cite: 180]
    <meta charset="UTF-8"> [cite: 183]
    <title>Daftar Buku</title> [cite: 184]
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> [cite: 185]
</head> [cite: 186]
<body> [cite: 187]
    <div class="container"> [cite: 188]
        <h1 class="title">Daftar Buku</h1> [cite: 189]
        <div class="actions"> [cite: 190]
            <a href="{{ url_for('add') }}"><button class="btn primary">Tambah Buku</button></a> [cite: 191]
        </div>
        <br> [cite: 193]
        <div class="card-list"> [cite: 194]
            {% for b in books %} [cite: 196]
            <div class="card"> [cite: 198]
                <h3>{{ b.judul }}</h3> [cite: 200]
                <p>{{ b.penulis }}</p> [cite: 202]
                <div class="card-actions"> [cite: 207]
                    <a href="{{ url_for('edit', id=b.id) }}"><button class="btn">Edit</button></a> [cite: 208]
                    <a href="{{ url_for('delete', id=b.id) }}"><button class="btn danger">Hapus</button></a> [cite: 209]
                </div>
            </div> [cite: 212]
            {% else %} [cite: 214]
            <p class="empty">Belum ada buku</p> [cite: 216]
            {% endfor %} [cite: 218]
        </div> [cite: 220]
    </div> [cite: 221]
</body> [cite: 222]
</html> [cite: 223]